@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

@font-face {
	font-family: 'WandohopeR';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeR.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.lottemartdream * {
	font-family: 'LotteMartDream', sans-serif;
}

html>body {
	font-family: 'WandohopeR', sans-serif;
}

/* 커스텀 */
.table-box-type-1 thead th, .table-box-type-1 tbody th,
	.table-box-type-1 td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.btn-text-link {
	color: #1f1f1f;
}

.btn-text-link:hover {
	text-decoration: underline;
	color: deepskyblue;
}

header>div>ul>li>ul {
	display: none;
	position: absolute;
	background-color: white;
}

header>div>ul>li:hover>ul {
	display: block;
}

.lowMenu {
	position: absolute;
	top: 100%;
	left: auto;
	right: 0%;
}

.login_box {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	border-radius: 10px;
	background-color: gray;
}

.h-30 {
	height: 30px;
}

.loginForm {
	display: flex;
	align-items: space-between;
	height: 250px;
	width: 300px;
	border: 3px solid black;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text_box {
	width: 100%;
}

.body_box {
	width: 100%;
	height: 200px;
}

.po-rel {
	position: relative;
}

.bg-b {
	background-color: black;
}

.bor-b {
	border: 3px solid black;
	margin-left: 50px;
	margin-right: 50px;
}

header>div>ul>li>ul {
	display: none;
	position: absolute;
	background-color: white;
}

header>div>ul>li:hover>ul {
	display: block;
}

header>div>ul>li>ul>li:hover {
	background-color: black;
	color: white;
}

.reply_modi {
	height: 100px;
	width: 300px;
}

.reply_box {
	font-size: 2rem;
	background-color: gold;
	margin: 20px 50px;
}

.reply_box > .r-t {
	margin-top: 10px;
}

.reply_box_nl {
	border: 1px solid black;
}
.reply_box_a {
	font-weight: bold;
}
.cbox {
	background-color: white;
	border: 0.5px solid black;
	width: 100px;
	display: inline;
}